{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "prettier", "import"],
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "plugin:import/typescript"],
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "ignorePatterns": [],
  "rules": {
    "no-console": 2,
    "prettier/prettier": 2,
    "no-multi-spaces": 2,
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
      }
    ],
    "import/order": ["error", { "newlines-between": "always-and-inside-groups" }]
  },
  "reportUnusedDisableDirectives": true
}
