{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "prettier", "import"],
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "plugin:import/typescript"],
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "ignorePatterns": [],
  "rules": {
    "no-console": 2,
    "prettier/prettier": 2,
    "no-multi-spaces": 2,
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": ["builtin", "external", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      { "selector": "variableLike", "format": ["camelCase"] },
      {
        "selector": "variable",
        "types": ["boolean"],
        "format": ["camelCase"],
        "prefix": ["is", "should", "has", "can", "did", "will"]
      },
      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      }
    ]
  },
  "reportUnusedDisableDirectives": true
}
